doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // bootstrap
        link(href="/css/bootstrap.css", rel="stylesheet")
        //more
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/component.css', rel='stylesheet')
        link(href='/css/animations.css', rel='stylesheet')
        link(href='/css/jquery.simple.lightbox.css', rel='stylesheet')
        //font
        link(href="http://fonts.googleapis.com/css?family=Josefin+Slab", rel="stylesheet", type="text/css")

    body
        script(src="/js/jquery-1.11.0.js")
        script(src="/js/bootstrap.min.js")
        block content