//
   Created by xudshen on 14-3-14.

extends layout

block content
    div#pt-main.pt-perspective(style="position:fixed; top:0; left:0;z-index:-1")
        div.pt-page.pt-page-1
        div.pt-page.pt-page-2
        div.pt-page.pt-page-3
    div.row
        div.col-md-12
            a(href="/")
                h1.page-header(style="font-size:56px; border:0;") Leeeeaf
                    small(style="margin-left:10px") Plant Recognition
    div.row
        div.col-md-8
            div.panel.panel-transparent
                div.panel-heading
                    div.row
                        div.col-md-12
                            h2.panel-title.pull-left Uploaded Sample
                div.panel-body
                    h3 Features
                    ul.row.feature
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg', name="asfasdfasf")
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg')
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg', name="asfasdfasf")
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg')
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg', name="asfasdfasf")
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg')
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg', name="asfasdfasf")
                            div feature 1
                        li.col-lg-2.col-md-2.col-sm-3.col-xs-4
                            img.img-responsive(src='/img/predict/1001.jpg')
                            div feature 1
                div.panel-body
                    h3 Models
                    div Common Names in Chinese: Mao Zhu


        div.col-md-4
            div.panel.panel-transparent
                div.panel-heading
                    div.row
                        div.col-md-12
                            h2.panel-title.pull-left
                                span(style="color: #999") Match:&nbsp;
                                | Genus Phyllostachys
                div.panel-body
                    h3 Common Names
                    div Common Names in Chinese: Mao Zhu
                    div Common Names in English: Pubescent Bamboo, Kikko-Chiku, Mhousou, Moso Bamboo, Mosochiku, Tortoise Shell Bamboo, Tortoise-Shell Bamboo
                    div Common Names in Japanese: Kikko-Chiku, Mousou-Chiku
                    h3 Description
                    div Arborescent or shrubby bamboos . Rhizomes leptomorph, with running underground stems. Culms diffuse ; internodes profoundly flattened or grooved on one side above branches; nodes 2-ridged. Branches 2, subequal , rarely with a much smaller, central or lateral 3rd branch . Culm sheaths deciduous, papery to subleathery; ligule usually conspicuous ; usually auricled with long bristles ; blade usually recurved or reflexed . Leaf blade with distinct transverse veins, usually abaxially pilose proximally. Inflorescence bracteate , partially iterauctant, composed of 1-7-spikeleted racemes gathered into fascicles or globose mass subtended by a tiny, membranous, 2-keeled prophyll, 0 or 1 gemmiferous bract, 2-6, gradually enlarged scaly bracts, and 2-7 spathiform bracts. Spikelets with 2-7 florets , terminal sterile . Glumes absent to 1(-3). Rachilla extending beyond uppermost floret, disarticulating just below fertile florets. Lemma variable in size and texture ; palea 2-keeled, apex bifid; lodicules 3, ciliate . Stamens 3. Style long; stigmas (1-) 3, plumose . Caryopsis elliptical to linear-lanceolate, dorsally grooved.
                    div At least 51 species: China, India, Japan, Myanmar; introduced to many other countries; 51 species (49 endemic) in China.
                    div Phyllostachys is indigenous in China but is also widely and extensively cultivated. Originally it may have been largely endemic to China, but many species were introduced to neighboring countries, especially Japan, at a very early date. Phyllostachys species are now extensively cultivated in neighboring Asian countries, and several have become naturalized there, while some are possibly native . Many species have more recently been introduced to other parts of the world, including Europe and North and South America, but they remain principally ornamental plants outside eastern Asia. Phyllostachys species are probably of greater economic importance than any other bamboos in China and are used for building, paper, flooring, furniture, edible shoots , and as ornamentals.[1]
                    h3 Biology
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-body

    script(src="/js/project.js")
    script(src="/js/modernizr.custom.js")
    script(src="/js/pagetransitions.js")
    script(src="/js/jquery.bootstrap.simple.lightbox.js")
